name: Unittesting

on:
    push:
        branches: ["main"]
    
    workflow_dispatch:

jobs:
    build:
        runs-on: windows-latest
        
        steps:
            - uses: actions/checkout@v3

            - name: Create Requirements.txt
              run: python .github/workflows/create_requirements_txt.py

            - name: Install Dependencies
              run: python -m pip install -r .github/workflows/requirements.txt

            - name: Unittesting
              run: python unittesting/test_risk_functions.py

            - name: Unittesting
              run: python unittesting/test_general_functions.py

            - name: Unittesting
              run: python unittesting/test_statistical_functions.py